#blue-screen-of-death {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    width: 100%;
    height: 100%;
    background: #1173aa;
}

#blue-screen-of-death svg {
    user-select: none;
    pointer-events: none;
    position: absolute;
    top: 50%;
    box-sizing: border-box;
    transform: translateY(-50%);
    width: 100%;
}

#mod-logo-decoration {
    position: absolute;
    width: 50px;
    right: 5px;
    top: 65px;
    transition: transform 0.3s, opacity 0.3s;
}

#mod-logo-decoration.mod-logo-decoration-clicked {
    opacity: 0;
}

#mod-logo-decoration:hover {
    transform: scale(1.1);
}

#mod-logo-hat {
    z-index: 1;
    width: 80px;
    height: 80px;
    position: absolute;
    left: -6px;
    top: -9px;
    transform: rotate(-20deg);
    transition: transform 0.3s, left 0.3s, opacity 0.3s;
}

#mod-logo-hat:hover {
    transform: rotate(-30deg);
    left: -12px;
}

#mod-logo-hat.mod-logo-hat-clicked {
    animation: 1s hatfalloff forwards;
}

@keyframes hatfalloff {
    0% {
        transform: rotate(-30deg);
        left: -12px;
        top: -9px;
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        transform: rotate(-140deg);
        left: -90px;
        top: 75px;
        opacity: 0;
    }
}

body.easter-egg-shaking .background.ng-trigger {
    pointer-events: none !important;
}

@media(max-width:1279px) {
    #mod-logo-hat {
        left: -15px;
    }

    #mod-logo-hat:hover {
        left: -20px;
    }
}

#somtoday-mod-version-easter-egg:active {
    border: 2px solid var(--bg-primary-normal);
    border-radius: 6px
}

.mod-easter-egg-logo {
    position: fixed;
    z-index: 100000000;
    animation: 8s logowalk linear infinite;
    width: 200px;
    height: 200px;
}

@keyframes logowalk {
    0% {
        bottom: 10%;
        left: -210px;
    }

    20% {
        bottom: 20%;
        left: 80%;
        transform: rotate(40deg);
    }

    40% {
        bottom: 40%;
        left: 10px;
        transform: rotate(60deg);
    }

    60% {
        bottom: 90%;
        left: 50%;
        transform: rotate(-60deg);
    }

    80% {
        bottom: 50%;
        left: 90%;
        transform: rotate(10deg);
    }

    100% {
        bottom: 10%;
        left: -210px;
    }
}

body.rainbow {
    animation: rainbow 4s infinite !important;
}

body.rainbow #mod-background,
body.rainbow #mod-backgroundslide,
body.rainbow #mod-background-live {
    opacity: 0.25;
    z-index: 0;
}

@keyframes rainbow {

    100%,
    0% {
        background-color: rgb(255, 0, 0);
    }

    8% {
        background-color: rgb(255, 127, 0);
    }

    16% {
        background-color: rgb(255, 255, 0);
    }

    25% {
        background-color: rgb(127, 255, 0);
    }

    33% {
        background-color: rgb(0, 255, 0);
    }

    41% {
        background-color: rgb(0, 255, 127);
    }

    50% {
        background-color: rgb(0, 255, 255);
    }

    58% {
        background-color: rgb(0, 127, 255);
    }

    66% {
        background-color: rgb(0, 0, 255);
    }

    75% {
        background-color: rgb(127, 0, 255);
    }

    83% {
        background-color: rgb(255, 0, 255);
    }

    91% {
        background-color: rgb(255, 0, 127);
    }
}

html.barrelroll {
    animation: barrelroll 2s 0.1s infinite !important;
}

@keyframes barrelroll {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
