.mod-user-scale {
    animation: 0.6s usericonscale 0.2s ease;
}

@keyframes usericonscale {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

a:hover .mod-save-shake {
    animation: 0.6s saveshake 0.2s ease;
}

@keyframes saveshake {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(15deg);
    }

    50% {
        transform: rotate(0eg);
    }

    75% {
        transform: rotate(-15deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

a:hover .mod-bug-scale {
    animation: 0.6s bugscale 0.2s ease;
}

@keyframes bugscale {
    0% {
        opacity: 0;
        transform: scale(.3);
    }

    50% {
        opacity: 1;
        transform: scale(1.05);
    }

    70% {
        transform: scale(.9);
    }

    100% {
        transform: scale(1);
    }
}

a:hover .mod-info-wobble {
    animation: 0.6s infowobble 0.2s ease;
}

@keyframes infowobble {

    from,
    to {
        transform: scale(1, 1);
    }

    25% {
        transform: scale(0.8, 1.2);
    }

    50% {
        transform: scale(1.2, 0.8);
    }

    75% {
        transform: scale(0.9, 1.1);
    }
}

a:hover .mod-update-rotate {
    animation: 0.8s updaterotate 0.2s ease;
}

@keyframes updaterotate {
    0% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}

a:hover .mod-reset-rotate {
    animation: 0.8s resetrotate 0.2s ease;
}

@keyframes resetrotate {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.mod-gear-rotate {
    animation: 0.8s gearrotate 0.2s ease;
}

@keyframes gearrotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.mod-range-preview {
    height: 40px;
    width: 40px;
    overflow: hidden;
    position: absolute;
    margin-left: 250px;
    border: var(--thinnest-solid-neutral-normal);
    border-radius: 6px;
    padding: 7px;
    box-sizing: border-box;
}

.mod-range-preview svg {
    height: 100% !important;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 15rem;
}

input[type="range"]:focus {
    outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
    background-color: var(--bg-primary-weak);
    border-radius: 0.5rem;
    height: 0.5rem;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    margin-top: -4px;
    border-radius: 50%;
    background-color: var(--bg-primary-strong);
    height: 1rem;
    width: 1rem;
}

input[type="range"]:focus::-webkit-slider-thumb {
    border: none;
    outline: 3px solid var(--border-accent-normal);
    outline-offset: 0.125rem;
}

input[type="range"]::-moz-range-track {
    background-color: var(--bg-primary-weak);
    border-radius: 0.5rem;
    height: 0.5rem;
}

input[type="range"]::-moz-range-thumb {
    border: none;
    border-radius: 50%;
    background-color: var(--bg-primary-strong);
    height: 1rem;
    width: 1rem;
}

input[type="range"]:focus::-moz-range-thumb {
    border: none;
    outline: 3px solid var(--border-accent-normal);
    outline-offset: 0.125rem;
}

.switch {
    display: inline-block;
    height: 25px;
    position: relative;
    vertical-align: top;
    width: 50px;
    margin: 12px 10px 25px 0;
}

.switch input {
    display: none !important;
}

.slider {
    background-color: var(--bg-primary-weak);
    bottom: -1px;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 1px;
    transition: background .2s;
}

.slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 17px;
    left: 4px;
    position: absolute;
    transition: .2s;
    width: 17px;
}

input:checked+.slider {
    background-color: var(--bg-primary-strong);
}

input:checked+.slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
    margin-bottom: 0 !important;
}

.slider.round:before {
    border-radius: 50%;
}

.mod-custom-select {
    position: relative;
    font-family: Arial, sans-serif;
    margin-top: 10px;
    width: 240px;
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 8px;
}

.mod-custom-select select {
    display: none;
}

.select-selected {
    transition: background 0.2s ease;
    border-radius: 6px;
    border: var(--thinnest-solid-neutral-normal) !important;
    background-color: var(--bg-elevated-weakest);
}

.select-selected:after {
    position: absolute;
    content: "";
    top: 18px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: var(--text-moderate) transparent transparent transparent;
}

.select-selected.select-arrow-active,
.select-selected:hover {
    background: var(--bg-elevated-strong) !important;
}

.select-selected.select-arrow-active:after {
    border-color: transparent transparent var(--text-moderate) transparent;
    top: 10px;
}

.select-items div,
.select-selected {
    color: var(--text-moderate);
    letter-spacing: normal;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
}

.select-items {
    max-height: 400px;
    position: absolute;
    background-color: var(--bg-elevated-none);
    color: var(--text-moderate);
    top: calc(100% + 10px);
    left: -2px;
    width: calc(100% + 2px);
    right: 0;
    z-index: 99;
    border-radius: 8px;
    overflow: hidden;
    overflow-y: auto;
    border-radius: 6px;
    box-shadow: 0 0 30px var(--bg-elevated-strong);
}

.select-items div:last-of-type {
    border: 2px solid transparent;
}

.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

#mod-message textarea {
    height: 200px;
    padding: 12px 20px;
    outline-offset: unset;
}

#mod-message .mod-message-button {
    -webkit-user-select: none;
    user-select: none;
    text-decoration: none;
    font-size: 14px;
    padding: 12px 24px;
    border: 4px solid var(--bg-primary-normal);
    background: var(--bg-primary-normal);
    border-radius: 8px;
    margin-top: 10px;
    margin-right: 10px;
    display: inline-block;
    color: var(--text-inverted);
    outline: none;
    cursor: pointer;
    transition: background 0.2s ease, border 0.2s ease;
}

#mod-message .mod-message-button:hover {
    background: var(--bg-primary-strong);
}

#mod-message .mod-message-button:focus,
#mod-message .mod-message-button:hover {
    border: 4px solid var(--bg-primary-strong);
}

#mod-message .mod-message-button.mod-button-discouraged {
    background: var(--bg-elevated-none) !important;
    color: red;
    border: 4px solid red;
}

#mod-message .mod-message-button.mod-button-discouraged:focus,
#mod-message .mod-message-button.mod-button-discouraged:hover {
    border: 4px solid darkred;
}

#mod-message a {
    text-decoration: underline;
}

#mod-message p,
#mod-message h3 {
    font-size: 14px;
    margin-bottom: 10px;
    line-height: 17px;
}

#mod-message h2 {
    font-size: 18px;
    margin-bottom: 20px;
}

#mod-message>center {
    position: absolute;
    width: 100%;
}

#mod-message.mod-animation-playing>center {
    opacity: 0;
    transform: translateY(-300px);
    animation: 0.4s modmessageslidein ease 0.15s forwards;
}

@keyframes modmessageslidein {
    0% {
        transform: translateY(-300px);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: none;
        opacity: 1;
    }
}

#mod-message>center>div {
    background: var(--bg-elevated-none);
    box-shadow: 0 0 50px var(--bg-elevated-weak);
    width: 500px;
    max-width: calc(100% - 16px);
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    text-align: left;
    padding: 20px 30px;
    box-sizing: border-box;
}

#mod-message {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000000;
    background: rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

#mod-message.mod-animation-playing {
    animation: 0.2s modmessagebackground ease forwards;
}

#mod-message.mod-msg-closed {
    opacity: 0;
}

@keyframes modmessagebackground {
    0% {
        background: rgba(0, 0, 0, 0);
    }

    100% {
        background: rgba(0, 0, 0, 0.2);
    }
}

#mod-letterbeoordelingen {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 5px 15px;
}

#mod-letterbeoordelingen label {
    display: block;
    margin: 5px 0;
    font-size: 0.9em;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#mod-letterbeoordelingen input {
    height: 30px;
}

#mod-actions {
    background: var(--bg-elevated-none);
    margin-left: -30px;
    padding: 10px 30px;
    z-index: 100;
    width: 100%;
    margin-top: -10px;
    top: -5px;
}

.mod-setting-button {
    padding: 10px 12px;
    background: var(--bg-elevated-weak);
    border-radius: 8px;
    margin-right: 8px;
    display: inline-block;
    margin-bottom: 10px;
    transition: background 0.3s ease !important;
    cursor: pointer;
    user-select: none;
    color: var(--text-moderate) !important;
}

.mod-setting-button:hover {
    background: var(--bg-elevated-strong);
    color: var(--text-moderate);
}

.mod-setting-button svg {
    margin-right: 10px;
    height: 18px;
    margin-bottom: -3px;
}

#mod-background-wrapper {
    width: 100%;
}

#mod-background-wrapper label svg {
    width: 100%;
    height: 100%;
    padding: 50px 15px;
    box-sizing: border-box;
}

#mod-background-wrapper img:hover {
    filter: opacity(0.5);
}

#mod-background-wrapper label,
#mod-background-wrapper img {
    cursor: pointer;
    height: 150px;
    width: 150px;
    background: var(--bg-elevated-none);
    border-radius: 8px;
    object-fit: cover;
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 15px;
    vertical-align: top;
}

.dodgerblue {
    color: dodgerblue;
    cursor: pointer;
    user-select: none;
}

.mod-background-preview {
    width: 100%;
    height: 175px;
    object-fit: cover;
    border-radius: 12px;
    clip-path: inset(0 round 12px);
}

.mod-slider {
    display: inline-block;
    min-width: 50%;
}

.mod-slider input,
.mod-slider p {
    display: inline-block;
    margin: 3px 15px 3px 0;
    vertical-align: middle;
    min-width: 45px;
}

.mod-slider input {
    height: 40px;
    background: var(--bg-elevated-none);
}

.mod-slider p:first-of-type {
    font-weight: 700;
    min-width: 115px;
}

.mod-background-type-content {
    padding: 20px;
    background: var(--bg-elevated-weakest);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

#mod-background-type {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: none;
    padding-top: 3px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

#mod-background-type a {
    flex-grow: 1;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

#mod-background-type a.active {
    border-bottom: 3px solid var(--fg-on-primary-weak);
    font-weight: 700;
}

.br {
    height: 10px;
    clear: both;
}

.layout-container.layout-selected,
.layout-container:hover {
    border: 3px solid var(--fg-on-primary-weak);
}

.layout-container {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    margin-bottom: 50px !important;
    width: 180px;
    aspect-ratio: 18/13;
    background: var(--bg-elevated-none);
    border: 3px solid var(--bg-elevated-none);
    border-radius: 16px;
    position: relative;
    cursor: pointer;
    transition: border 0.2s ease !important;
    box-shadow: 2px 2px 20px var(--bg-elevated-strong);
}

.layout-container h3 {
    bottom: -40px;
    width: 100%;
    position: absolute;
    text-align: center;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}

.layout-container div {
    -webkit-user-select: none;
    user-select: none;
    background: var(--bg-primary-weak);
    border-radius: 6px;
    position: absolute;
}

.example-box-wrapper {
    border: 3px solid var(--blue-0);
    width: 500px;
    padding: 10px 20px;
    border-radius: 12px;
    overflow: hidden;
    max-width: calc(100% - 50px);
    margin-top: 15px;
}

.example-box-wrapper>div {
    transform-origin: top left;
}

.theme {
    user-select: none;
    display: inline-block;
    cursor: pointer;
    width: calc(20% - 11px);
    margin-bottom: 10px;
    margin-right: 5px;
    overflow: hidden;
    background: var(--bg-elevated-none);
    border: 3px solid transparent;
    border-radius: 16px;
    transition: .2s border ease, .2s background ease !important;
    box-shadow: 2px 2px 10px var(--bg-elevated-strong);
}

.theme:hover,
.theme.theme-selected,
.theme.theme-selected-set {
    border: 3px solid var(--blue-0);
}

.theme.theme-selected,
.theme.theme-selected-set {
    background: var(--blue-0);
    color: var(--grey-80);
}

.theme img {
    width: 100%;
    height: 175px;
    object-fit: cover;
    background: var(--bg-elevated-none);
    margin-bottom: -5px
}

.theme h3 {
    padding: 10px;
    padding-left: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
}

.theme h3 div {
    display: inline-block;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    position: absolute;
    margin: 5px -20px;
}

#mod-setting-panel .category:first-of-type {
    margin-top: 20px;
}

#mod-setting-panel .category {
    cursor: pointer;
    user-select: none;
    padding: 10px;
    border-bottom: 6px solid var(--bg-primary-weak);
    border-radius: 6px;
    font-size: 20px;
    margin: 20px -10px;
    margin-top: 50px;
}

#mod-setting-panel .category:after {
    content: "";
    transform: rotate(45deg);
    border: solid var(--bg-primary-normal);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 15px;
    margin-top: 8px;
    position: absolute;
}

#mod-setting-panel .category.collapsed {
    margin-bottom: -40px;
}

#mod-setting-panel .category:last-of-type {
    margin-bottom: 20px;
}

#mod-setting-panel .category.collapsed:after {
    transform: rotate(225deg);
    margin-top: 11px;
}

#mod-setting-panel>div>p:first-of-type {
    margin-right: 15px;
}

.mod-file-label,
.mod-button {
    -webkit-user-select: none;
    user-select: none;
    transition: 0.2s border ease !important;
    margin-bottom: 8px;
    display: block;
    width: fit-content;
    padding: 10px 18px;
    border: 2px solid var(--fg-on-primary-weak);
    border-radius: 12px;
    color: var(--fg-on-primary-weak) !important;
}

.mod-file-label.mod-drag-and-drop {
    border: 5px solid var(--fg-on-primary-weak);
    font-weight: 700;
}

.mod-button {
    display: inline-block;
    margin-right: 10px;
}

.mod-file-label:hover,
.mod-button:hover {
    border: 2px solid var(--bg-primary-weak);
    cursor: pointer;
}

label.mod-file-label.mod-active svg path {
    fill: white !important;
}

div.mod-button.mod-active,
label.mod-file-label.mod-active {
    background: var(--fg-on-primary-weak);
    color: var(--text-inverted) !important;
}

.mod-file-label p {
    margin-left: 10px;
    display: inline;
}

input[type="file"].mod-file-input {
    display: none !important;
}

input[type="color"] {
    width: 0;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    opacity: 0;
}

.mod-color {
    cursor: pointer;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    display: inline-block;
}

.mod-color p {
    margin: 8px 50px;
    width: 150px;
}

.mod-color-textinput {
    width: 120px;
    margin-left: 125px;
    color: var(--fg-on-primary-weak);
    display: inline-block;
    padding: 5px;
    border: none !important;
    outline: none !important;
    background: transparent;
    box-shadow: none !important;
}

#mod-setting-panel>div>div>p {
    display: inline-block;
    max-width: calc(100% - 70px);
}

#nickname-wrapper>div,
#username-wrapper>div {
    display: flex;
    margin-bottom: 10px;
    gap: 15px;
    row-gap: 2px;
}

#nickname-wrapper>div input,
#username-wrapper>div input {
    flex-grow: 1;
}

#nickname-wrapper>div>input:first-of-type,
#username-wrapper>div>input:first-of-type {
    width: 42%;
}

#nickname-wrapper>div>input:nth-child(2) {
    width: 24%;
}

#mod-setting-panel {
    position: absolute;
    background: var(--bg-elevated-none);
    top: 2px;
    left: 0;
    width: 100%;
    height: fit-content;
    padding: 0 30px;
    box-sizing: border-box;
    z-index: 100;
}

@media (max-width:550px) {
    .mod-slider {
        width: 100%;
    }

    #mod-setting-panel h3,
    #mod-setting-panel div {
        clear: both;
    }

    .mod-range-preview {
        right: 15px;
    }

    input[type="range"] {
        width: calc(100% - 50px) !important;
    }

    .mod-slider p:last-of-type {
        height: 7px;
        transform: translateY(-72px);
        float: right;
        margin: 0 !important;
    }

    .mod-slider input[type="range"] {
        width: 100% !important;
    }

    #mod-grade-calculate input {
        width: calc(100% - 30px) !important;
        margin-bottom: 10px;
    }

    #nickname-wrapper input,
    #username-wrapper input {
        width: 100% !important;
    }

    #nickname-wrapper div,
    #username-wrapper div {
        flex-wrap: wrap;
    }

    .layout-container {
        width: calc(50% - 20px) !important;
    }
}

#grade-reveal-select {
    margin-bottom: 20px;
}

@media (max-width:1300px) {
    .theme {
        width: calc(33.33333% - 11px);
    }
}

@media (max-width:1000px) {
    .theme {
        width: calc(50% - 11px);
    }

    #mod-setting-panel {
        padding: 0 15px;
    }
}

@media (max-width:475px) {

    #mod-background-wrapper label,
    #mod-background-wrapper img {
        width: calc(50% - 10px);
        margin-right: 10px;
    }
}