#somtoday-recap {
    cursor: pointer;
    overflow: hidden;
    background: linear-gradient(145deg, var(--blue-40) 0%, var(--blue-100) 100%);
    color: #fff;
    background-size: 200% 200%;
    padding: 15px 20px;
    border-radius: 6px;
    animation: backgroundanimation 7s ease infinite;
    position: relative;
    max-height: 65px;
    max-width: 100%;
    width: 680px;
    margin: 0 auto;
    margin-bottom: 30px;
}

@keyframes backgroundanimation {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0 0;
    }
}

#somtoday-recap-arrows {
    position: absolute;
    right: 50px;
    bottom: 10px;
}

#somtoday-recap-arrows svg {
    display: inline-block;
    height: 55px;
}

#recap-arrow-1 {
    animation: arrowanimation 5s ease infinite;
}

#recap-arrow-2 {
    animation: arrowanimation 5s ease infinite 0.5s;
}

#recap-arrow-3 {
    animation: arrowanimation 5s ease infinite 1s;
}

#somtoday-recap p {
    margin-bottom: 0;
}

#somtoday-recap p,
#somtoday-recap h3 {
    z-index: 1;
    position: relative;
}

@keyframes arrowanimation {
    0% {
        transform: none;
    }

    50% {
        transform: translateX(20px);
    }

    100% {
        transform: none;
    }
}

#somtoday-recap-wrapper {
    width: 0;
    height: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(145deg, var(--blue-40) 0%, var(--blue-100) 100%);
    z-index: 1000;
    border-radius: 50%;
    animation: recapstart 0.5s forwards ease;
}

@keyframes recapstart {
    100% {
        border-radius: 0;
        height: 100%;
        width: 100%;
    }
}

#somtoday-recap-wrapper .recap-page {
    width: 100%;
    box-sizing: border-box;
    padding: 30px;
    transition: opacity 0.5s ease !important;
}

.recap-page.recap-closing {
    opacity: 0;
}

#somtoday-recap-wrapper h1,
#somtoday-recap-wrapper h2,
#somtoday-recap-wrapper h3 {
    scale: 0;
    font-size: 3.25em;
    color: #fff;
    animation: textscale 0.7s forwards ease 1s;
}

#somtoday-recap-wrapper h2 {
    font-size: 2em;
    animation: textscale 0.7s forwards ease 2s;
    margin-top: 20px;
}

#somtoday-recap-wrapper h3 {
    line-height: 40px;
    margin-top: 15px;
    font-size: 2em;
    animation: textscale 0.7s forwards ease 2.5s;
}

#somtoday-recap-wrapper a {
    user-select: none;
    margin-top: 30px;
    color: #fff;
    border: 3px solid #fff;
    padding: 20px 40px;
    border-radius: 6px;
    display: block;
    font-size: 1.5em;
    width: fit-content;
    animation: textscale 0.7s forwards ease 2.5s;
    scale: 0;
    cursor: pointer;
    transition: background 0.2s ease !important;
}

#somtoday-recap-wrapper a:hover {
    background: #fff;
    color: #1f86f6;
}

@keyframes textscale {
    0% {
        scale: 0;
    }

    100% {
        scale: 100%;
    }
}

#somtoday-recap-wrapper label:first-of-type {
    margin-top: 20px;
}

#somtoday-recap-wrapper label {
    animation: textscale 0.7s forwards ease 2.5s;
    scale: 0;
    display: block;
}

#somtoday-recap-wrapper label input {
    display: inline-block;
    width: 30px;
}

#somtoday-recap-wrapper label p {
    max-width: calc(100% - 50px);
    margin-left: 10px;
    display: inline-block;
    color: #fff;
    vertical-align: top;
    font-size: 1.6em;
    margin-top: 5px;
}

#somtoday-recap-wrapper .wrong p,
#somtoday-recap-wrapper .wrong {
    color: #ff0000;
}

#somtoday-recap-wrapper .right p,
#somtoday-recap-wrapper .right {
    color: #00cf00;
}

#somtoday-recap-wrapper label.right span.number {
    text-decoration: line-through;
}

#recap-progress {
    box-sizing: border-box;
    position: absolute;
    top: 10px;
    left: 20px;
    width: calc(100% - 20px);
}

#recap-progress div {
    width: 0;
    animation: progress 0.6s forwards ease 0.3s;
    display: inline-block;
    background: #fff;
    margin-right: 20px;
    height: 10px;
    border-radius: 5px;
}

@keyframes progress {
    0% {
        width: 0;
    }

    100% {
        width: calc(12.5% - 20px)
    }
}

#recap-chart {
    width: 100%;
    height: 100%;
}

#recap-chart-wrapper {
    width: 500px;
    max-width: 90%;
    margin: 0 10px;
}

#award-wrapper {
    background: #fff;
    padding: 40px;
    margin-bottom: 40px;
    width: fit-content;
    border-radius: 8px;
    animation: textscale 0.7s forwards ease 1s;
    scale: 0;
}

#award-wrapper svg {
    height: 100px;
}

#recap-close {
    position: absolute;
    font-size: 64px;
    top: 30px;
    right: 30px;
    cursor: pointer;
    color: #fff;
    z-index: 1000;
}

.mod-item>svg {
    float: right;
    cursor: ns-resize;
    margin-top: 3px;
}

.mod-item div svg {
    float: left;
}

.mod-item p {
    float: left;
    margin: 0 10px;
    font-size: 1rem;
}

#mod-grade-average-sort-list {
    margin-top: 30px;
}

.mod-item,
.placeholder {
    user-select: none;
    width: 400px;
    background: var(--bg-elevated-none);
    border-radius: 16px;
    padding: 15px 20px;
    height: 23px;
    margin-bottom: 10px;
    max-width: calc(100vw - 100px);
}

@media (max-width:767px) {
    #somtoday-recap-wrapper label p {
        text-align: left;
        margin-left: 20px;
    }

    #somtoday-recap-arrows svg {
        opacity: 0.2;
    }

    #somtoday-recap {
        border-radius: 0;
        margin-bottom: 0;
    }

    #somtoday-recap-wrapper .recap-page {
        font-size: 0.6em;
    }
}

#recap-nextpage {
    user-select: none;
}

.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}